alabaster
altair
attrs
babel
blinker
cachetools
click
contourpy
cycler
fonttools
gitpython
graphviz
jinja2
jsonschema
markdown-it-py
markupsafe
matplotlib
mdurl
numpy
pandas
pillow
protobuf>=5.0.0
pyarrow
pydeck
pygments
pyparsing
python-dateutil
pytz
pyyaml
requests
rich
scikit-learn
scipy
streamlit>=1.41.1
sympy
tenacity
torch>=2.4.0
torchvision>=0.19.0
typing_extensions
tzdata
watchdog